 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
  <a class="project-link" target="_blank" style="margin: 0 auto" href="./assets/documents/Resume.pdf">RESUME</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Machine <br> Learning</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>I love Machine Learning. My primary language is Python. I also know
          Numpy, Sklearn and PyTorch</p>
    </div>
    <div class="tech">
      <h2>Competitive Programming</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <p>I am like Competative Programming. I use C++ and Java for Competative
        Programming.</p>
    </div>
    <div class="tech">
      <h2>Open Source<br> Development</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I also like to contribute to Open Sourse Projects. I have contributed
      to Sympy and Pygame.</p>
    </div>
</div>
