 <div class="user-details">
  <h1> GLMC Project </h1>
  <h3> GLMC Linear Algebra Library for OpenGL in C </h3>
</div>
  <p>
    I started researching regarding the topics required for the project. My Linear Algebra course at university helped me a lot for the same.
    The concepts used in the project were simple. The most important task which was expected from this project was to get the maximum performance
    on the same without using alot extra memory. To give you an idea of what kind of performance was required, one particular is almost expected
    to run about 1,000,000 times per second.
  </p>
  <p>
    While coding, due to speed optimization, almost all of the code was hard coded, all the functions were inlined and recursive approach was
    avoided at all costs to avoid segmentation faults. Alongside with that, there were many places where I let the code to have edge cases errors,
    becuase edge case crashes are not a major as compared to a dip in performance.
  </p>
  <p>
    Here are all the functions, which have been implemented till now:
    <ul>
      <li>Vectors 2d, 3d, 4d (vec2, vec3, vec4)
        <ul>
          <li>Addition (inplace and return)
          <li>Subtraction (inplace and return)
          <li>Multiplication (Hadamard Product) (inplace and return)
          <li>Division (Hadamard Division) (inplace and return)
          <li>Scalar multiplication (inplace and return)
          <li>Scalar Division (inplace and return)
          <li>Dot product
          <li>Cross Product
          <li>Normalization (Inplace, and return)
          <li>Length
          <li>SqrLength
          <li>Multiply and Add
          <li>Multiply and Subtract
        </ul>
      </li>
      <li>Matrices 2x2, 3x3, 4x4 (mat2, mat3, mat4)
          <ul>
            <li>Addition (inplace and return)
            <li>Subtraction (inplace and return)
            <li>Multiplication (inplace and return)
            <li>Division (inplace and return)
            <li>Scalar multiplication (inplace and return)
            <li>Scalar Division (inplace and return)
            <li>Normalization (Inplace, and return)
            <li>Multiply and Add
            <li>Multiply and Subtract
            <li>Discriminant
            <li>Inverse
            <li>Transpose (inplace and return)
          </ul>
        </li>
        <li>
          Multiplication support between vectors and matrices.
        </li>
        <li>
          Matrices must be column major.
        </li>
        <li>
          Creating Scale, Translation, and Rotation Matrices.
        </li>
        <li>
          Generation of Projection (Ortho or Perspective)
        </li>
        <li>
          Reflection, Refraction of vectors
        </li>
    </ul>
  </p>

  <a class="project-link" target="_blank" style="margin: 0 auto" href="https://github.com/iamarshsingh/glmc">Check Out Project Here</a>
    
</div>
