  <div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Space Invaders" src="{{ "/assets/img/space-invaders.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Space Invaders </h3>
    <ul>
      <li> Python and Pygame</li>
    </ul>
    <p>We made a Python based PC game inspired from Arcade Blockbuster Space-Invaders using Pygame.</p>
    <a class="project-link" href="http://github.com/iamarshsingh/space-invaders">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Fashion-MNIST" src="{{ "/assets/img/Fashion-MNIST.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Benchmarking Fashion-MNIST </h3>
    <ul>
      <li> Deep Learning, Python and PyTorch</li>
    </ul>
    <p>Benchmarking Fashion-MNIST Dataset using different DL Algorithms in PyTorch.</p>
    <a class="project-link" href="https://github.com/iamarshsingh/Benchmarking-FashionMNIST">Check it out</a>
  </div>
</div>
